/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

#mainPage {
    background-color: #D4A76A;
}

header {
    width: 100%
    color: #553100;
    background-color: #FFDBAA;
}

button {
    background-color: #805215;
    color: white;
}

.card1 {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    width: 30%;
    height: 125px;
    background-color: white;
    border: 1px solid black;
    /* border-style: solid */
}

.card2 {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    width: 70%;
    height: 125px;
    background-color: white;
    border: 1px solid black;
    /* border-style: solid */
}