/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/
*{
    font-family: sans-serif;
    margin: 0;
}
#mainPage {
    background-color: #D4A76A;
    border: 1px solid black;
    height: 100vh;
    text-align:justify-all;
    width = 100%
}

header {
    width: 100%
    color: #553100;
    background-color: #FFDBAA;

}
#menu {
  display: inline-block;
    margin-left: auto;
    height: 10%;

}
#menu button {
    display: inline-block;
    float: right;
    margin-left: 30px;
    border-left: 30%;
    width: auto
}
button {
    display: inline-block;
    background-color: #805215;
    color: white;
    width: 80%;

}

.card1 {
    display: inline-block;
    text-align: center;
    margin-left: 5%;
    margin-top: 10px;
    width: 25%;
    height: 125px;
    background-color: white;
    border: 1px solid;
    box-shadow: 5px 10px 8px black;
}

.card2 {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    margin-left: 15%;
    width: 70%;
    height: 125px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 5px 10px 8px black;
    /* border-style: solid */
}